<div class="main-page">
    <h1>
        myFlix
    </h1>
    <h2>A collection of my favorite movies</h2>
    <p>Test credentials:</p>
    <ul>
        <li>Username: morisuke</li>
        <li>Password: morisuke</li>
    </ul>
    <div class="button-container">
        <button class="button" mat-raised-button color="primary" (click)="openUserRegistrationDialog()"
            style="margin-right: 10px;">
            Sign Up
        </button>
        <button class="button" mat-raised-button color="primary" (click)="openUserLoginDialog()">
            Login
        </button>
    </div>
</div>