.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: navajowhite;
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 10rem;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
  text-shadow: 2px 2px #7c83d0e3;
}

h2 {
  margin-top: 5px;
  font-size: 2rem;
  text-shadow: 1px 1px #7c83d0e3;
}

p {
  margin-bottom: 5px;
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px #7c83d0e3;
}

ul {
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0.5px 0.5px #7c83d0e3;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
  transition: all 0.5s ease;
  font-size: 25px;
  padding: 10px;
  border: 2px solid navajowhite;
  border-radius: 4px;
  background-color: transparent;
  color: navajowhite;
  text-align: center;
  outline: none;
  margin-bottom: 15vh;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

.button:hover {
  color: white;
  background-color: #7c83d0e3;
  border: 3px solid white;
}

@media only screen and (max-width: 500px) {
  /* Combine media queries for efficiency */
  h1 {
    text-align: center;
    font-size: 7rem;
  }
  h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  /* Combine media queries for efficiency */
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
