<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" type="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput formControlName="confirmNewPassword" type="password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSave()" [disabled]="!editForm.valid">Save</button>
</mat-dialog-actions>