mat-card {
  background-color: #7c83d0e3;
}

mat-card-title,
mat-card-subtitle,
mat-form-field,
button {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

mat-card-title {
  font-size: 25px;
  color: white;
}

mat-card-subtitle {
  color: white;
}

form {
  margin-top: 20px;
}

.button-profile {
  margin-top: 20px;
  transition: all 0.5s ease;
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  text-align: center;
  text-shadow: 1px 1px #7c83d0e3;
  outline: none;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  font-size: 25px;
}

.button-profile:hover {
  color: black;
  background-color: navajowhite;
  border: 3px solid black;
}
