mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #7c83d0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-decoration: underline;
}

.nav-button {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

/* Small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .nav-button {
    font-size: 1rem;
  }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .title {
    font-size: 2.5rem;
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 901px) {
  /* No specific styles for large screens, as the default styles should be sufficient */
}
