.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie-card {
    flex: 1 1 calc(33.333% - 16px);
    margin: 8px;
    max-width: 300px;
}

.image-container {
    text-align: center;
}

.movie-image {
    max-width: 100%;
    height: auto;
}